body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    background-color: #1D222A;
    font-family: 'Roboto Mono', monospace;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;
    width: 100vw;
    height: 100vh;
  }
  
.grid-item {
    color: white; 
    width: 33vw;
    height: 50vh;
    font-size: 9vw; 
  }

.grid-chart {
    grid-row: 2/4;
    height: 50vh;
}

.large-chart{
    grid-column: 1/3;
}
  
  .grid > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

div#temperature.grid-item  {
    background-color: #252A33;
}

div#pressure.grid-item {
    background-color: #252A33;
}

.label {
    font-size: 24px;
}

.value {
    font-size: 100px;
}

#temperatureChart, #pressureChart {
    margin-top: 15px;
}
